In [1]:
import numpy as np
import pandas as pd

In [4]:
data_path = r'./NCAA_data_cleaned_v2.csv'
data = pd.read_csv(data_path)
data.head()

,player_name,YEAR,OVERALL,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,label
0,Cade Cunningham,2021.0,1,78.0,104.1,28.6,51.6,57.46,2.3,16.2,...,4.87999,2.53637,0.7037,5.4815,6.1852,3.4444,1.5926,0.7778,20.2222,1
1,Evan Mobley,2021.0,3,83.6,119.4,23.4,59.5,62.40,9.7,18.8,...,7.38800,5.25248,2.7273,5.9394,8.6667,2.3939,0.7879,2.8485,16.3636,1
2,Scottie Barnes,2021.0,4,58.9,107.5,25.3,53.1,54.78,7.4,11.0,...,4.19499,2.99510,1.4583,2.5417,4.0000,4.0833,1.4583,0.4583,10.3333,1
3,Jalen Suggs,2021.0,5,67.5,110.4,25.3,55.9,59.39,2.7,18.0,...,4.37217,4.11123,0.6000,4.7333,5.3333,4.5333,1.9000,0.3333,14.3000,1
4,Franz Wagner,2021.0,8,78.8,119.5,19.4,54.4,58.65,2.9,19.6,...,5.27693,5.33229,0.7143,5.8214,6.5357,3.0000,1.2500,1.0357,12.4643,2

In [7]:
# data.columns[1: 3]
scale_list = []
for index in range(3, 54):
    scale_list.append(data.columns[index])
print(scale_list)

['Min_per', 'Ortg', 'usg', 'eFG', 'TS_per', 'ORB_per', 'DRB_per', 'AST_per', 'TO_per', 'FTM', 'FTA', 'FT_per', 'twoPM', 'twoPA', 'twoP_per', 'TPM', 'TPA', 'TP_per', 'blk_per', 'stl_per', 'ftr', 'Rec Rank', 'ast/tov', 'rimmade', 'rimmade+rimmiss', 'midmade', 'midmade+midmiss', 'rimmade/(rimmade+rimmiss)', 'midmade/(midmade+midmiss)', 'dunksmade', 'dunksmiss+dunksmade', 'dunksmade/(dunksmade+dunksmiss)', 'pick', 'drtg', 'adrtg', 'dporpag', 'stops', 'bpm', 'obpm', 'dbpm', 'gbpm', 'mp', 'ogbpm', 'dgbpm', 'oreb', 'dreb', 'treb', 'ast', 'stl', 'blk', 'pts']

In [8]:
# 对需要归一化的列进行归一化
data[scale_list] = data[scale_list].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
data.head()

,player_name,YEAR,OVERALL,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,label
0,Cade Cunningham,2021.0,1,0.807692,0.733615,0.744792,0.671001,0.756252,0.097046,0.495413,...,0.616197,0.604541,0.122383,0.519923,0.429528,0.346540,0.462374,0.147924,0.690046,1
1,Evan Mobley,2021.0,3,0.865904,0.841438,0.609375,0.773732,0.821269,0.409283,0.574924,...,0.737710,0.788469,0.474313,0.563355,0.601854,0.240850,0.228748,0.541736,0.558378,1
2,Scottie Barnes,2021.0,4,0.609148,0.757576,0.658854,0.690507,0.720979,0.312236,0.336391,...,0.583008,0.635605,0.253617,0.241082,0.277778,0.410820,0.423383,0.087161,0.352605,1
3,Jalen Suggs,2021.0,5,0.698545,0.778013,0.658854,0.726918,0.781653,0.113924,0.550459,...,0.591593,0.711187,0.104348,0.448956,0.370368,0.456094,0.551620,0.063388,0.487961,1
4,Franz Wagner,2021.0,8,0.816008,0.842142,0.505208,0.707412,0.771914,0.122363,0.599388,...,0.635428,0.793874,0.124226,0.552163,0.453868,0.301829,0.362908,0.196972,0.425321,2

In [9]:
data.to_csv('./normalized_data_v2.csv', index=False)